body {
    background: linear-gradient(to right, #302dfd, #4491da);
    font-family: Arial, sans-serif;
}
.topbar {
    flex-direction: column;
    padding: 1;
    font-size: 100%;
    color: #66a6e2;

}
#logo {
    width: 100px;
    height: 100px;
    display: block;
    flex: auto;
}

#logo {
    width: 100px;
    height: 100px;
    display: block;
    flex: auto;
}